[submodule "xvla/X-VLA"]
	path = xvla/X-VLA
	url = https://github.com/2toinf/X-VLA.git
[submodule "lmvla/lawam"]
	path = lmvla/lawam
	url = https://github.com/qiqiguaitm/deepdive_clothfold.git
	branch = lawam-lmvla-eval-bridge
